

<div id="masthead">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>
                    FORUM
                    <p class="lead">Catchy Subtitle Here</p>
                </h1>
            </div>
            <div class="col-md-5">
                <div class="well well-lg">
                    <div class="row">
                        <div class="col-sm-12">
                           SOMETHING UNIQUE
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /cont -->


</div>


<div class="container">
    <div class="row">

        <div class="col-md-12">

            <div class="panel">
                <div class="panel-body">


                    <!--FORUM POSTS-->
                    <div class="row">
                        <br>
                        <div class="col-md-2 col-sm-3 text-center">
                            <a class="story-img" href="#"><img src="//placehold.it/100" style="width:100px;height:100px" class="img-circle"></a>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <h3>FORUM TITLE</h3>
                            <div class="row">
                                <div class="col-xs-9">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                                        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                                        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                                        Aliquam in felis sit amet augue.
                                    </p>
                                    <p class="lead"><button class="btn btn-default">Read More</button></p>
                                    <p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
                                    <ul class="list-inline"><li><a href="#">2 Days Ago</a></li><li><a href="#"><i class="glyphicon glyphicon-comment"></i> 4 Comments</a></li><li><a href="#"><i class="glyphicon glyphicon-share"></i> 34 Shares</a></li></ul>
                                </div>
                                <div class="col-xs-3"></div>
                            </div>
                            <br><br>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <br>
                        <div class="col-md-2 col-sm-3 text-center">
                            <a class="story-img" href="#"><img src="//placehold.it/100" style="width:100px;height:100px" class="img-circle"></a>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <h3>Story Title Here</h3>
                            <div class="row">
                                <div class="col-xs-9">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                                        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                                        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                                        Aliquam in felis sit amet augue.
                                    </p>
                                    <p class="lead"><button class="btn btn-default">Read More</button></p>
                                    <p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
                                    <ul class="list-inline"><li><a href="#">3 Days Ago</a></li><li><a href="#"><i class="glyphicon glyphicon-comment"></i> 1 Comments</a></li><li><a href="#"><i class="glyphicon glyphicon-share"></i> 34 Shares</a></li></ul>
                                </div>
                                <div class="col-xs-3"></div>
                            </div>
                            <br><br>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <br>
                        <div class="col-md-2 col-sm-3 text-center">
                            <a class="story-img" href="#"><img src="//placehold.it/100" style="width:100px;height:100px" class="img-circle"></a>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <h3>Post Heading Here</h3>
                            <div class="row">
                                <div class="col-xs-9">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                                        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                                        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                                        Aliquam in felis sit amet augue.
                                    </p>
                                    <p class="lead"><button class="btn btn-default">Read More</button></p>
                                    <p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
                                    <ul class="list-inline"><li><a href="#">5 Days Ago</a></li><li><a href="#"><i class="glyphicon glyphicon-comment"></i> 0 Comments</a></li><li><a href="#"><i class="glyphicon glyphicon-share"></i> 45 Shares</a></li></ul>
                                </div>
                                <div class="col-xs-3"></div>
                            </div>
                            <br><br>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <br>
                        <div class="col-md-2 col-sm-3 text-center">
                            <a class="story-img" href="#"><img src="//placehold.it/100" style="width:100px;height:100px" class="img-circle"></a>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <h3>Another Entry Title</h3>
                            <div class="row">
                                <div class="col-xs-9">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                                        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                                        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                                        Aliquam in felis sit amet augue.
                                    </p>
                                    <p class="lead"><button class="btn btn-default">Read More</button></p>
                                    <p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
                                    <ul class="list-inline"><li><a href="#">1 Week Ago</a></li><li><a href="#"><i class="glyphicon glyphicon-comment"></i> 4 Comments</a></li><li><a href="#"><i class="glyphicon glyphicon-share"></i> 34 Shares</a></li></ul>
                                </div>
                                <div class="col-xs-3"></div>
                            </div>
                            <br><br>
                        </div>
                    </div>
                    <hr>
                    <!--/stories-->


                    <a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a>


                </div>
            </div>



        </div><!--/col-12-->
    </div>
</div>


<hr>

<div class="container" id="footer">
    <div class="row">
        <div class="col col-sm-12">

            <h1>Follow Us</h1>
            <div class="btn-group">
                <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
                <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
                <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
            </div>

        </div>
    </div>
</div>

<hr>












<div class="row" style="width: 1500px; height:300px; margin: 0 auto">
    <div class="col-md-12">
        <div class="container-fluid" id="carouselContent">
            <div class="row">
                <div class="col-md-12">
                    <div class="carousel slide" id="carousel-955178">
                        <ol class="carousel-indicators">
                            <li class="active" data-slide-to="0" data-target="#carousel-955178">
                            </li>
                            <li data-slide-to="1" data-target="#carousel-955178">
                            </li>

                            <li data-slide-to="2" data-target="#carousel-955178">
                            </li>

                            <li data-slide-to="3" data-target="#carousel-955178">
                            </li>

                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img alt="Carousel Bootstrap First" src="http://d2mve4pl256l37.cloudfront.net/globalassets/global/campaigns/hiking-2014/main-slide/jostedals-glacier-norway-1400.jpg?width=800" class="carousel-img" />
                                <div class="carousel-caption">

                                    <p>
                                        <!--Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.-->
                                    </p>
                                </div>
                            </div>

                            <div class="item">
                                <img alt="Carousel Bootstrap First" src="http://sportycious.com/wp-content/uploads/2014/03/Skydiving-or-Parachuting-simplified.jpg" class="carousel-img" />
                                <div class="carousel-caption">

                                </div>
                            </div>


                            <div class="item">
                                <img alt="Carousel Bootstrap Fifth" src="http://thatsthewayitis.net/wp-content/uploads/o-STAR-GAZING-570.jpg" class="carousel-img" />
                                <div class="carousel-caption">
                                    <h4>
                                        <!--Fifth Thumbnail label-->
                                    </h4>
                                    <p>
                                        <!--Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.-->
                                    </p>
                                </div>
                            </div>

                            <div class="item">
                                <img alt="Carousel Bootstrap Seventh" src="http://www.prairieheights.com/wp-content/uploads/2010/04/ballpark1.jpg" class="carousel-img" />
                                <div class="carousel-caption">

                                    <p>
                                        <!--Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.-->
                                    </p>
                                </div>
                            </div>


                            <a class="left carousel-control" href="#carousel-955178" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                            <a class="right carousel-control" href="#carousel-955178" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
