<div class="row">
    <div class="col-md-6 col-md-offset-3" style="color: white;">
        <h1>Edit Discussion</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3" id="createDisc">
        <form ng-submit="controller.editDisc()">
            <div class="form-group">
                <label>Interest/Topic Title</label>
                <input type="text" class="form-control" ng-model="controller.discToEdit.interestName" />
            </div>
            <div class="form-group">
                <label>Give this topic a brief description.</label>
                <input type="text" class="form-control" ng-model="controller.discToEdit.description" />
            </div>
            <div class="form-group">
                <!-- Add this to the image to show them -->
                <label>This will be the discussions catchy headline!</label>
                <input type="text" class="form-control" ng-model="controller.discToEdit.headline" />
            </div>
            <div class="form-group">
                <!-- ADD IT SO THEY CAN SEE WHAT IT WILL LOOK LIKE -->
                <label>Give it a cool image headline. Add a link!</label>
                <input type="text" class="form-control" ng-model="controller.discToEdit.imageHeader" />
            </div>

            <div class="form-group">
                <input type="submit" value="Save" />
            </div>

        </form>
    </div>
</div>