<h1>EVENTS PAGE</h1>
<div class="container-fluid">
    <!--<iframe id="calendar" src="https://commingly.com/syncrose/events/calendar/" frameborder="0" allowTransparency="true" width="725" height="475"></iframe>-->
</div>

<div class="container-fluid">
    <h1>Create an Event list</h1>

    <h1>Interest and related event</h1>
    <h1>{{controller.user.first}} {{controller.user.last}}</h1>
    <h1>DATE AND TIME</h1>

    <h1>!!MAYBE!! Add this event to your calendar</h1>

    <h1>!!MAYBE!! Add this event to your calendar</h1>
    <h1>!!MAYBE!! Add this event to your calendar</h1>
    <h1>!!MAYBE!! Add this event to your calendar</h1>

    <h1>!!MAYBE!! Add this event to your calendar</h1>
    <h1>!!MAYBE!! Add this event to your calendar</h1>
    <h1>!!MAYBE!! Add this event to your calendar</h1>
    <h1>!!MAYBE!! Add this event to your calendar</h1>
    <h1>!!MAYBE!! Add this event to your calendar</h1>
    <h1>!!MAYBE!! Add this event to your calendar</h1>
    <h1>!!MAYBE!! Add this event to your calendar</h1>
    <h1>!!MAYBE!! Add this event to your calendar</h1>
    <h1>!!MAYBE!! Add this event to your calendar</h1>
    <h1>!!MAYBE!! Add this event to your calendar</h1>
    <h1>!!MAYBE!! Add this event to your calendar</h1>
    <h1>!!MAYBE!! Add this event to your calendar</h1>
    <h1>!!MAYBE!! Add this event to your calendar</h1>
    <h1>!!MAYBE!! Add this event to your calendar</h1>
    <h1>!!MAYBE!! Add this event to your calendar</h1>
    <h1>!!MAYBE!! Add this event to your calendar</h1>
    <h1>!!MAYBE!! Add this event to your calendar</h1>
    <h1>!!MAYBE!! Add this event to your calendar</h1>
    <h1>!!MAYBE!! Add this event to your calendar</h1>
    <h1>!!MAYBE!! Add this event to your calendar</h1>





</div>