<div class="container">
    <div class="row">
        <div class="col-md-3">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#">
                            Start Bootstrap
                        </a>
                    </li>
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                    <li>
                        <a href="#">Shortcuts</a>
                    </li>
                    <li>
                        <a href="#">Overview</a>
                    </li>
                    <li>

                    </li>

                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Interests</a>
                        <div class="btn-group" uib-dropdown dropdown-append-to-body>
                            <button id="btn-append-to-body" type="button" class="btn btn-toolbar" uib-dropdown-toggle>
                                Interests<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                                <li role="menuitem"><a href="#">Hiking</a></li>
                                <li role="menuitem"><a href="#">Sports</a></li>
                                <li role="menuitem"><a href="#">Stargazing</a></li>
                                <li class="divider"></li>
                                <li role="menuitem"><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->
            <!-- Page Content -->

        </div>


        <br>
        <div class="msgMain">
        <div class="col-md-6 col-sm-8 text-center msgMain">
            <div class="col-lg-6">
                <a class="story-img" href="#"><img src="{{controller.post.postImage}}" style="width:300px;height:300px" class="img-responsive"></a>
            </div>
            <div class="col-lg-6">
                <ul class="list-group">
                    <li class="list-group-item">{{controller.post.postUserName}}</li>
                    <li class="list-group-item">{{controller.post.postFirst}} {{controller.post.postLast}}</li>
                </ul>
            </div>
        </div>
        <div class="col-md-12 col-sm-9 msgMain">
            <h1>{{controller.post.title}}</h1><hr />
            <div class="row">
                <div class="col-xs-9">
                    <p id="overflowTest">
                        {{controller.post.content}}
                    </p>
                    <p class="lead"><button class="btn btn-default">Read More</button></p>
                    <p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
                    <ul class="list-inline"><li><a href="#"></a></li></ul>
                </div>

            </div>
            <hr />
            <br><br>
        </div>
            </div>

        <div class="row" id="messageTemplate" ng-repeat="msg in controller.post.linkedMessages">
            <div class="container-fluid">
                <br>
                <div class="col-md-2 col-sm-3 text-center">
                    <a class="story-img" href="#"><img src="{{msg.msgImage}}" style="width:150px;height:150px" class="img-responsive"></a>
                </div>
                <div class="col-md-10 col-sm-9">
                    <h2>{{msg.msgFirst}} {{msg.msgLast}}</h2><hr />
                    <div class="row">
                        <div class="col-xs-9">
                            <p id="overflowTest">
                                {{msg.content}}
                            </p>
                            <p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>

                        </div>
                        <div class="col-xs-3">
                            <ul class="list">
                                <li>Message Created: {{msg.timeCreated | date: 'MM/dd/yyyy'}}</li>
                                <li><button class="glyphicon glyphicon-link" ng-click="controller.deleteMsgModal(msg.id)">Delete</button></li>
                                <li><button class="glyphicon glyphicon-link" ng-click="controller.editMsgModal(msg.id)">Edit</button></li>
                                <li>User Name: {{msg.msgUserName}}</li>



                            </ul>
                        </div>
                    </div>
                    <br><br>
                </div>
            </div>
            <div>

            </div>
            <hr>
        </div>

        <button class="btn btn-block btn-toolbar btn-lg" ng-click="controller.addMsgModal(controller.post.id)">Create a New Message!</button>
    </div>
</div>

