
    <h1>Profile Content</h1><hr />
    <h1>{{controller.user.first}} {{controller.user.last}}</h1>
    <div class="row">
        <!--<uib-pagination total-items="controller.totalPosts" ng-model="controller.currentPostPage" class="pagination-sm" bound-link-numbers="true" ng-change="controller.getUserPosts()" items-per-page="controller.itemsPerPage"></uib-pagination><br />-->
        <div ng-repeat="post in controller.posts">
            <h2>Posts</h2>
            <h2>{{post.title}}</h2>
            <h3>{{post.content}}</h3>
        </div>
    </div><hr /><br /><br /><br /><br /><br />
    <div class="row">
        <uib-pagination total-items="controller.totalMsgs" ng-model="controller.currentMsgPage" class="pagination-sm" bound-link-numbers="true" ng-change="controller.getUserMsgs()" items-per-page="controller.itemsPerPage"></uib-pagination><br />
        <div ng-repeat="msg in controller.msgs">
            <h2>Messages</h2>
            <h3>{{msg.content}}</h3>
        </div>
    </div>
