<h1>Contact Us Page</h1>

<div class="container-fluid homeC" id="homePage">
    <div class="row">
        <!--BIG PICTURE -->
        <div class="col-lg-6 col-sm-12" id="homeBigPic">


        </div>

        <!--SMALLER PICTURE-->
        <div class="col-lg-3 col-sm-12" id="homeSmall1">

        </div>
        <!--SMALLER PICTURE-->
        <div class="col-lg-3 col-sm-12" id="homeSmall2">


        </div>
        <!--SMALER PICTURE-->
        <div class="col-lg-3 col-sm-12" id="homeSmall3">

        </div>
        <!--SMALLER PICTURE-->
        <div class="col-lg-3 col-sm-12" id="homeSmall4">

        </div>

    </div>



















</div>