
<div class="container-fluid" id="signUpModal">

    <div class="container-fluid">
        <div class="modal-dialog">
            <div class="modal-content" id="signUpModalContent">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Modal title
                    </h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="email">Email address:</label>
                            <input ng-model="controller.registerUser.email">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input ng-model="controller.registerUser.password">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input ng-model="controller.registerUser.confirmPassword">
                        </div>
                      
                        <button type="submit" class="btn btn-default" ng-click="controller.register()">Sign Up</button>
                    </form>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal" >
                        Close
                    </button>
                    <button type="button" class="btn btn-primary">
                        Sign Up
                    </button>
                </div>
            </div>

        </div>
    </div>

</div>

